* {
  margin: 0;
  padding: 0;
}

.appHeader {
  background-color: #f5f5f5;
  width: 100%;
}
.appTitle {
  padding: 16px;
  margin: 0;
  text-align: center;
  font-size: 36px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.dogGroup {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: center;
}

.dogDescription {
  text-align: center;
  width: 100%;
}

.dogImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.dogImgWrapper {
  width: 100%;
  text-align: right;
}

.updateButtonWrapper {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.updateButton {
  background-color: #3b82f6;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}

.selectGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.showButton {
  background-color: #3b82f6;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 8px 40px;
  cursor: pointer;
}

.dogSelect {
  color: gray;
  padding: 8px 300px 8px 8px;
  border-radius: 4px;
}

.dogList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}
